<%= form_with(model: pool, local: true) do |form| %>
  <% if pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pool.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
      <% pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :readonly => true, :value => current_user.name%>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact, :required => true, :size => "30", :placeholder => 'Please enter a 10-digit mobile number' %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.select :from,['Mangalore International Airport - IXE',
                                         'Mangalore Central - MAQ',
                                         'Mangalore Junction - MAJ',
                                         'Surathkal Railway Station - SL']%>
  </div>

  <div class="field">
    <%= form.label :when %>
    <%= form.datetime_select :when,  :label => { day:  'Select date', month: true, year: true } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
