<p id="notice"><%= notice %></p>

<h1>Pools</h1>

<%= form_tag pools_path, :method => 'get', :class=>"form-inline my-2 my-md-0" do%>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search], :class=>"form-control form-control-sm col-xs-2", :placeholder=>"Search" %>
    <%= submit_tag 'Search', :name => nil, :class=>"btn btn-sm btn-primary"%>
  </p>
<% end %>
<table class="tableClass">
  <thead>
    <tr>
      <th scope="col"><h4 class="text-center"><%= sortable "name" %></h4></th>
      <th scope="col"><h4 class="text-center"><%= sortable "contact" %></h4></th>
      <th scope="col"><h4 class="text-center"><%= sortable "destination", "Where" %></h4></th>
      <th scope="col"><h4 class="text-center"><%= sortable "be_there_at", "When" %></h4></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= pool.name %></td>
        <td><%= pool.contact %></td>
        <td><%= pool.destination %></td>
        <td><%= pool.be_there_at.strftime("%B %d, %Y %H:%M") %></td>
        <td><%= link_to 'Show', pool, :class => "btn btn-sm btn-primary" %></td>
        <td>
          <% if current_user.id==pool.user_id %>
            <%= link_to 'Edit', edit_pool_path(pool), :class => "btn btn-sm btn-secondary" %>
          <% end %>
        </td>
        <td>
          <% if current_user.id==pool.user_id %>
            <%= link_to 'Destroy', pool, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @pools, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, :previous_label => 'Previous', :next_label => 'Next', :aria_label => 'Page Navigation' %>
<br>

<%= link_to 'New Pool', new_pool_path, :class=>"btn btn-sm btn-outline-primary" %>