<p id="notice"><%= notice %></p>

<h1>Pools</h1>

<table class="tableClass">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "contact" %></th>
      <th><%= sortable "destination", "Where" %></th>
      <th><%= sortable "be_there_at", "When" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= pool.name %></td>
        <td><%= pool.contact %></td>
        <td><%= pool.destination %></td>
        <td><%= pool.be_there_at %></td>
        <td><%= link_to 'Show', pool %></td>
        <td>
          <% if current_user.id==pool.user_id %>
            <%= link_to 'Edit', edit_pool_path(pool) %>
          <% end %>
        </td>
        <td>
          <% if current_user.id==pool.user_id %>
            <%= link_to 'Destroy', pool, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @pools %>
<br>

<%= link_to 'New Pool', new_pool_path %>