<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pool.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @pool.contact %>
</p>

<p>
  <strong>From:</strong>
  <%= @pool.from %>
</p>

<p>
  <strong>When:</strong>
  <%= @pool.when %>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>
