<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pool.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @pool.contact %>
</p>

<p>
  <strong>Where:</strong>
  <%= @pool.destination %>
</p>

<p>
  <strong>When:</strong>
  <%= @pool.be_there_at %>
</p>

<% if current_user.id==@pool.user_id %>
  <%= link_to 'Edit', edit_pool_path(@pool) %> |
<% end %>
<%= link_to 'Back', pools_path %>